
.card{
    display: flex;
    margin-top: 6%;
    margin-left: 25%;
    margin-right: 25%;
    width:50%;
    height: 30em;
    border: 5px solid black;
    border-radius: 3em;
    box-shadow: 0 0 10px gray;
    background: url(assets/background.jpg);
    background-size: 1100px;
}

.list{
    width: 40%;
    list-style-type: none;
    margin-top: 2em;
    margin-left: 5%;
    margin-right: 5%;
} 

button{
    color: #FEFEFF;
    margin-top:2em;
    width: 100%;
    font-family: Verdana;
    font-weight: 700;
    border: 3px solid #00B5E2;
    background: #00B5E2;
    border-radius: 1em;
    height: 2.5em;
    transition: 0.15s;
}

button:hover{
    border: 3px solid #00B5E2;
    background-color: aliceblue;
    color: #00B5e2;

}

li{
    text-align: left;
    padding-left: 1em;
}

.image{
    width: 40%;
}


img{
    margin-top: 10%;
    margin-left: 10%;
    width: 100%;
    border-radius: 1em;
    border: 2px solid black;
}

.dropdown {
    position: relative;
}

.dropdown-menu{
    color: black;
    font-family: verdana;
    text-align: center;
    width: 100%;
    position: absolute;
    background-color: #00B5E2;
    left: 0;
    top: calc(100% + .25rem);
    border-radius: 1rem;
    opacity: 0;
    border: 2px solid #00B5E2;
    z-index: 1;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-menu li{
    padding: 0.5em;
    font-family: verdana;
    font-weight: 400;
}

.dropdown.active > #link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
